.mobile_header {
    width: 100%;
    border-bottom: 1px solid #0E692D;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}


.mybackdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1300;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.awesomeFont {
    margin-top: 8px;
    font-size: 30px;
    cursor: pointer;
}

.sidebar_layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 70px;
    padding-top: 70px;
}

.mobile_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    color: #fff;
    background-color: #045a21;
    z-index: 950000;
    transition: 0.8s;

}

.mobile_sidebar.open {
    width: 220px;
}
@media(min-width: 768px) {
    .mobile_view {
        display: none;
    }
}